.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
#shape {
  background: red;
  height: 100px;
  width: 100px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text {
  text-align: center;
}
